@model IEnumerable<Cican_Micro.Models.Commande>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produit.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Achat)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CommandeID">Rapport</a> |
                <a asp-action="Delete" asp-route-id="@item.CommandeID">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
