@model IEnumerable<Cican_Micro.Models.Blog>
@{
    ViewData["Title"] = "Index";

}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<label>Author:</label>
<form asp-action="Index" id="categorie" class="row">

    <select name="Author" onchange="this.form.submit()" class="col-lg-2 form-control-static">
        <option value=""></option>
        @foreach (var item in (IEnumerable<string>)ViewData["Author"])
        {
            <option value="@item">@item</option>
        }
        <option value="Tous">Tous</option>
    </select>
</form>


<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>
                        Titre: @Html.DisplayFor(modelItem => item.Title)
                    </b>
                </td>
                <td>
                    Auteur: @Html.DisplayFor(modelItem => item.Author)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                    
                </td>
            </tr>

            <tr>
                <td colspan="3">
                    @Html.Raw("<pre>" + Html.Encode(item.Content) + "</pre>")
                </td>

            </tr>





        }

    </tbody>
</table>
